*
{
  margin:0;
  paddding:0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Card{
  float:left !important
}
.background {
  position: fixed;
  top:0;
  left: 0;
  right:0;
  background-image: url('http://www.paisleystudios.com.au/wp-content/uploads/2016/04/background-banner1.jpg');
  height:100%;
  width:100%;
  background-size:cover;
  z-index:-1;
  background-position:center
}

.fullNews {
  position: absolute;
  top:30%;
  left:30%;
  background-color:white;
  /* margin:10% */
  height:40%;
  width:40%;
}
h2{
  color:black
}
Search {
  border-style: solid !important;
  border-color: black;
  border:1 !important
}
.LBGII{
  border-style: solid !important;
  border-color: black;
  border:1 !important
}
@media only screen and (max-width: 600px) {
  .fullNews {
    position: fixed;
    top:0%;
    left:0%;
    
    overflow:scroll;
    height:100%;
    width:100%;
  }
}